<div class="container">
  <div class="picture-container">

  </div>
  <div class="title-container">

  </div>
  <div class="social-container">
    <i matTooltip="mikkelertbjerg@gmail.com" matTooltipClass="tooltip" class="fas fa-envelope icon"></i>
    <i matTooltip="mikkelertbjerg" matTooltipClass="tooltip" class="fab fa-linkedin icon"></i>
    <i matTooltip="mikkelertbjerg" matTooltipClass="tooltip" class="fab fa-github icon"></i>
    <i matTooltip="Phasmo#7184" matTooltipClass="tooltip" class="fab fa-discord icon"></i>
  </div>
</div>
