<div class="container">
  <div class="left-container">
    <div class="title-container">
      <h1>Mikkel Wexøe Ertbjerg</h1>
      <h2>AP Graduate in Computer Science, June 2019 && Projected PBA in Software Development January, 2021</h2>
    </div>
    <div class="resume-container">
      <p>
        With my AP Degree in Computer Science I am able to quickly acquire new and relevant knowledge about programming languages, development tools and frameworks.
        On this basis a dream about working with development tasks as a programmer and solutions architecht has emerged.
        In addition, I have gained a lot of experience working in small agile teams, as well as planning, estimating and prioritizing tasks.
        I continued to apply these experiences in practice whilst I was an intern at Anybody Technology A/S.
        As an intern, I learned the importance of staying critical of what I produced, as estimates, diagrams and results were presented to the project manager and the customers.
        Furthermore I was able to utilize my experience from the service industry to create and maintain new relations.
      </p>
    </div>
    <div class="social-container">
      <i matTooltip="mikkelertbjerg@gmail.com" matTooltipClass="tooltip" class="fas fa-envelope icon"></i>
      <i matTooltip="mikkelertbjerg" matTooltipClass="tooltip" class="fab fa-linkedin icon"></i>
      <i matTooltip="mikkelertbjerg" matTooltipClass="tooltip" class="fab fa-github icon"></i>
      <i matTooltip="Phasmo#7184" matTooltipClass="tooltip" class="fab fa-discord icon"></i>
    </div>
  </div>
  <div class="right-container">

    <div class="navigation-container">

    </div>
  </div>
</div>
