$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;
$secondary: #ff9800;
$secondary-light: #ffc947;
$secondary-dark: #c66900;
$text: #fff;

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
